# Netlify
.netlify/

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Expo
.expo/
*.jks
*.p12
*.keystore
!debug.keystore

# Android/IntelliJ
build/
app/build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# iOS
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
*.xcworkspace/*
*.org
*.log
podfile.lock
DerivedData/
